{
	"plugins": [
		"transform-inline-environment-variables", // inject envs inline
		[
			"module-resolver",
			{
				"root": [
					"."
				],
				"alias": {
					"src": "./dist/"
				}
			}
		]
	]
}